:root {
    --black: #1E1E1E;
    --white: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0 20px;

}

img {
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid black;

}

.grayscale {
    filter: grayscale(100%);
}




input,

.button {
    display: flex;
    justify-content: center;
    gap: 11rem;
    margin-bottom: 20px;

}

textarea,
select {
    font: inherit;
}


h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    font-size: 3rem;
}

h3 {
    text-decoration: underline;
    text-align: center;
    padding-bottom: 50px;

}

h5,
h6 {
    overflow-wrap: break-word;
}


button {
    background-color: black;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
}

a {
    text-decoration: unset;
    color: unset;
}

#root,
#__next {
    isolation: isolate;
}

#infosDiv {
    background-color: #1E1E1E;
    color: white;
    height: auto;
    min-width: auto;
    margin-top: 20px;
    padding: 88px;
}

#title {
    color: white;
    text-decoration: none;
    font-size: 5rem;
    

}

.span {
    font-size: 1.5rem;
    color: white;

}

#pays {
    color: gray;
    font-size: 25px;
    
}

p {
    color: gray;
    position: relative;
    
}

.hidden {
    transform: translateX(-100%);
    opacity: 0; 
}

.visible {
    transform: translateX(0); 
    opacity: 1; 
    transition: transform 0.8s ease, opacity 0.8s ease; 
}

.show {
    display: block; /* Affiche l'image */
    margin: 0 auto; /* Centre l'image */
}
.bonus {
    position: relative; /* Nécessaire pour le positionnement absolu du marqueur */
}

#map{
    width: 300px;
    height: 300px;
    text-align: center;
    margin-top: 15px;
    position: relative;

}

#marqueur{
    position: absolute; 
    width: 40px; 
    height: 40px; 
    display: none;
    border: none;

}

.size-6{
    color:red;
    
}