:root {
    --black: #1E1E1E;
    --white: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    padding: 0 20px ;

}

img{
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px  solid black; 
   
}


picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,

.button{
    display: flex;
    justify-content: center;
    gap: 11rem;
    margin-bottom: 20px;
    
}

textarea,
select {
    font: inherit;
}

p,

h1{
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    font-size: 3rem;
}
h2,
h3{
    text-decoration: underline;
    text-align: center;
    padding-bottom: 50px;
    
}
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


button {
    background-color: black;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
}

a {
    text-decoration: unset;
    color: unset;
}

#root,
#__next {
    isolation: isolate;
}

#infosDiv{
    background-color: #1E1E1E;
    height: auto; 
    min-width: auto;
    margin-top: 20px;
}

#title{
    color: white;
    text-decoration: none;
    font-size: 5rem;
    
}